BACKEND=C:\Users\Arun\Desktop\Abitech QA Engine\ABI-TECH-QA-ENGINE-V3sub-updated\ABI-TECH-QA-ENGINE-V3-main\Backend
FRONTEND=C:\Users\Arun\Desktop\Abitech QA Engine\ABI-TECH-QA-ENGINE-V3sub-updated\ABI-TECH-QA-ENGINE-V3-main\frontend
ROOT=C:\Users\Arun\Desktop\Abitech QA Engine\ABI-TECH-QA-ENGINE-V3sub-updated\ABI-TECH-QA-ENGINE-V3-main
